html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #FFE74C;
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;

    margin: 0;
    padding: 0;
}

footer {
    font-size: .5rem;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#note-grid {
    display: grid;
    background-color: rgb(0, 104, 184);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 700px;
}

.note-name {
    background-color: #35A7FF;
    color: white;
    text-align: center;
    border-radius: 1px;
    transition: all 0.3s cubic-bezier(0.24, 0.78, 0.43, 0.88);
}

.note-name::after {
    opacity: 0;
}

.note-name-selected {
    background-color: #FF5964;
    box-shadow: 0px 8px 15px 6px rgba(0, 0, 0, 0.3);
    transform: scale(1.05, 1.05);
}

#string-select {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    min-width: 390px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.string.selected {
    color: white;
}

#start-button {
    box-shadow: 0px 6px 0px 0px rgb(210, 59, 59);
    background-color: #FF5964;
    color: white;
}

#start-button:hover {
    background-color: rgb(230, 79, 89);
}

#start-button:active {
    box-shadow: 0px 3px 0px 0px rgb(210, 59, 59);
    transform: translateY(3px);
}

#button-container {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: white;
}

#bpm-select {
    margin: 0 auto;
    width: 300px;
    font-size: 10px;
    text-align: center;
}

#shuffle-button {
    background-color: rgb(11, 179, 123);
    box-shadow: 0px 6px 0px 0px rgb(7, 123, 84);
}

#shuffle-button:hover {
    background-color: rgb(10, 164, 113);
}

#shuffle-button:active {
    box-shadow: 0px 3px 0px 0px rgb(7, 123, 84);
    transform: translateY(3px);
}

.noselect {
    user-select: none;
}

#bpm-input {
    width: 60px;
    border: 2px solid #CCCCCC;
    font-size: 2.5em;
    margin-right: 10px;
    text-align: center;
}

#bpm-select>span {
    font-size: 2.5em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}